---
export type Props = {
    src: string
    alt: string
}

const { src, alt } = Astro.props
---

<div class="h-36 overflow-hidden shadow-lg rounded-xl relative">
    <img 
        src={src}
        alt={alt}
        class="w-full object-cover " />

    <div class="absolute top-0 left-0 h-full w-full opacity-35 group-hover:opacity-0 transition-opacity duration-500">
        <div class="isolate relative h-full w-full">
            <div class="h-full w-full noise" />
            <div class="h-full w-full overlay absolute top-0 left-0" />
        </div>
    </div>
</div>

<style is:global>
    .noise {
        background:
            linear-gradient(20deg, #111827, transparent), 
            url(/noise.svg);
        filter: contrast(170%) brightness(1000%);  
    }

    .overlay {
        /* ... */
        background: moccasin;
        mix-blend-mode: multiply;
    }
</style>