<div class="pushable bg-zinc-800 group">
  <div class="front p-2 bg-gradient-to-b from-zinc-600 to-zinc-700 h-full">
    <slot />
  </div>
</div>

<style>
  .pushable {
    border-radius: 14px;
    border: none;
    padding: 0;
    outline-offset: 4px;
  }
  .front {
    border-radius: 14px;
    font-size: 1.25rem;
    transform: translateY(-6px);
  }
</style>